//tables and smaller
@media(max-width: 768px) {
    #header{
        &__home{
            height: 30rem;
            .header-content{
                padding-top: 7rem;

                h1{
                    font-size: 2.6rem;
                }
            }
        }
    }
    #home__a .skills, 
    #home__b .profile, 
    #home__c .process,
    .items{
        grid-template-columns: repeat(2,1fr);
    }
    
}
//mobiles
@media(max-width: 576px) {
    #home {
        &__a {
            .skills div {
                border-bottom: 1px $light-color solid;
                padding-bottom: 1rem;
                &:last-child{
                    border: none;
                    padding-bottom: 0;
                }
            }
        }
    }
    .lead {
        font-size: 1rem;
        margin-bottom: 1rem;
        word-spacing: 1px;
    }
    #header{ 
        &__home{
            height: 10rem !important;
            border-radius: 2px solid -color !important;
            background-position: 20% 30% !important;
            .header-content{
                display: none;
            }
        }
        &__inner {
            height: 10rem !important;
        }
    }
    .main-nav {
        flex-direction: column;
        align-items: center;
        li{
            padding: 1rem;
        };
    }
    
    #home__a .skills, 
    #home__b .profile, 
    #home__c .process,
    .items,
    #contact-b .contact-info{
        grid-template-columns: repeat(1,1fr) !important;
    }

    #main-footer {
        height: 7rem !important;
        .footer-content{
            flex-direction: column;
            padding: 1rem;
            height: 5rem !important;
            
            .social {
                padding-top: 1rem;
            }
        }
    }

    #about{
        &-a {
            .info {
                grid-template-columns: 1fr !important;
            }
        }
        &-c {
            display: none;
        }

    }
    #contact {
        &-a {
            .form-fields {
                grid-template-areas: 
                        'name' 
                        'email'
                        'phone' 
                        'subject'
                        'message'
                        'button'!important;
            }
        }
        &-b {
            div {
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px dashed #fff;
            &:last-child {
                border: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }
            }
        }
    }
}