@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}
body
{
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul{
    list-style: none;
}

a{
    color: #333;
    text-decoration: none;
}

h1,h2{
    font-weight: 400;
    line-height: 1.2;
}
p{
    margin: 1rem 0
}
img {
    width: 100%;
}

.text-center {
    text-align: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark);
    opacity: 0.8;
    color: var(--white);
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    padding: 0 3rem;
}

.navbar a {
    color: var(--white);
    padding: 1rem 2rem;
    margin: 0 0.5rem;
}
.navbar a:hover {
border-bottom: 2px solid var(--warning);
}
.navbar ul {
    display: flex;
    font-size: 1.8rem;
}
.navbar .brand {
    font-weight: 400;
}

.navbar h1 {
    font-size: 3rem;
}
.navbar span {
    
    color: var(--warning)
}
.main-header {
    background-image: url('../img/bg-1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: var(--white);  
    position: relative; 
}
.main-header.blog {
    background-image: url('../img/bg-2.jpeg'); 
    height: 75vh;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.btn{
    margin-top: 2rem;
}
.main-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}
.main-header * {
    z-index: 5;
}
.main-header .content h1 {
    font-size: 5.5rem;
    font-weight: 400;
}
.main-header .content p{
    font-size: 2.4rem;
    max-width: 60rem;
    margin: 2rem 0, 3rem;
    font-weight: 300;
}

/* icons */

.icons {
    padding: 3rem;
}
.icons h3 {
    font-weight: 400;
    margin-bottom: 15px;
}
.icons i {
    background-color: var(--warning);
    color: #fff;
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

/* about */

.about h2 {
    font-size: 4rem;
    font-weight: 400;

}
.about p {
    margin: 2rem 2rem 2rem 0;
    text-align: left;
}


/* gallery */

.gallery img:hover {
    cursor: pointer;
    opacity: 0.8;
}
/* contact */

.contact-form {
    width: 100%;
    padding: 2rem 0;
}

.contact-form label {
    display: block;
    margin-bottom: .5rem;
}
.contact-form .form-control {
    margin-bottom: 1.5rem;
}
.contact-form input {
    width: 100%;
    padding: .5rem;
    height: 4rem;
    border: 1px solid #f5f5f5;
}
.contact-form .btn {
    margin-top: 2rem;
}

.contact h2 {
    font-size: 4rem;
}
/* article */

.articles {
    padding: 3rem 5rem;
}
.article{
    margin-top: 1.5rem ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 11px;
}
 /* footer */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    text-align: center;
}
.footer a {
    color: var(--warning);
}
.footer a:hover {
    opacity: 0.7;
}
.footer .social a{
    margin-right: 10px;
}
@media (max-width: 768px){
    html {
        font-size: 9px;
    }
    .navbar{
        flex-direction: column;
        height: 110px;
        padding: 20px;
    }
    .navbar a {
        padding: 10px;
        margin: 0 3px;
    }
    .teams img {
        height: 70%;
    }
}