@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600&display=swap');

:root {
    --white: #fff;
    --primary : #007bff;
    --secondary : #6c757d;
    --succes : #28a745;
    --danger :  #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
    --dark : #343a40;
    --light : #f8f9fa;
}

/* text color */
.text-primary { color: var(--primary);}
.text-secondary { color: var(--secondary);}
.text-succes { color :var(--succes);}
.text-danger { color: var(--danger);}
.text-warning { color :var(--warning);}
.text-white { color :var(--white);}
.text-info { color: var(--info);}
.text-dark { color: var(--dark);}
.text-light { color: var(--light);}

/* bg-colors */
.bg-primary { color : var(--white);background-color: var(--primary);}
.bg-secondary { color : var(--white);background-color: var(--secondary);}
.bg-succes { color : var(--white);background-color :var(--succes);}
.bg-danger { color : var(--white);background-color: var(--danger);}
.bg-warning { color : var(--white);background-color :var(--warning);}
.bg-white { color : var(--dark);background-color :var(--white);}
.bg-info { color : var(--white);background-color: var(--info);}
.bg-dark { color : var(--white);background-color: var(--dark);}
.bg-light { color : var(--dark);background-color: var(--light);}

/* buttons */
.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    border:none;
    border-radius: 5px;
}
.btn:hover {
    opacity: 0.9;
}
.btn-primary { color: var(--white); color : var(--white);background-color: var(--primary);}
.btn-secondary { color: var(--white); color : var(--white);background-color: var(--secondary);}
.btn-succes { color: var(--white); color : var(--white);background-color: var(--succes);}
.btn-danger { color: var(--white); color : var(--white);background-color: var(--danger);}
.btn-warning { color: var(--white); color : var(--white);background-color: var(--warning);}
.btn-info { color: var(--white); color : var(--white);background-color: var(--info);}
.btn-dark { color: var(--white); color : var(--white);background-color: var(--dark);}
.btn-light { color: var(--white); color : var(--white);background-color: var(--light);}
.btn-outline-primary { background: transparent; border: 1px solid var(--primary); color: var(--white);}

.btn-outline{ background: transparent; border: 1px solid var(--white); color: var(--white);}

.btn-outline-primary:hover { color : var(--white);background-color: var(--primary); border: 1px solid var(--primary); color: var(--white);}



/* flex items */

.flex-items{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.flex-items > div {
    margin: 10px;
    flex-basis: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 11px;
}

/* flex-columns */

.flex-columns.flex-reverse .row{
    flex-direction: row-reverse;
}

.flex-columns .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.flex-columns .column {
    flex: 1;
}
.flex-columns.article .column:nth-child(odd){
    flex: 2;
}
.flex-columns.article .column:nth-child(even){
    flex: 3;
}
.flex-columns .column .column-1, .column-2 {
    height: 100%;
}
.flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem;
}
.flex-columns img {
    width: 100%;
    height: 100%;
}


/* flex grid */
.flex-grid .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 .4rem;
}
.flex-grid .column {
    flex: 25%;
    padding: 0 .4rem;
}

/* section */
.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem;
}

.section-header h2 {
    font-size: 4rem;
    margin: 2rem 0;
}

.section-padding {
    padding: 2rem 2rem 4rem;
}
/* card */

.card {
    color: var(--white);
    font-weight: 600;
}
.card-body {
padding: 2rem;
margin-top: -10px;
}

/* teams */

.teams img:hover {
    opacity: 0.7;
}

/* mobile */

@media (max-width: 768px){

    .flex-items{
        flex-direction: column;
    }
    
    .flex-columns .column{
        flex: 100% !important;
    }
    .flex-grid .column {
        flex: 50%;
    }
}