.signup-page{
    padding-top: 60px ;
}

.signup-title{
    text-align: center;
    font-size: 20px;
    color: #2e4c6d;
}
.signup-form {
width: 100%;
}

@media (min-width : 768px){
    .signup-form {
        width: 500px;
        margin: 0 auto;
        }
  }
.signup-form label,
.signup-form input:not([type="checkbox"]),
.signup-form select {
    margin-top: 5px;
    padding: 3px;
    display: block;
    width: 100%;
}
.signup-form input[type="checkbox"],
.signup-form input[type="checkbox"] + label {
    display: inline-block;
    width: auto;
}

.signup-form button{
    display: block;
    margin-top: 15px;
}
.signup-form input:not([type="checkbox"]),
.signup-form select{
    border: 1px solid #ccc;
    padding: 10px,15px;
}
.signup-form input:not([type="checkbox"]):focus,
.signup-form select:focus{
    outline: none;
    background-color: #2e4c6d;
    border: 1px solid gray;
    color: #fff;
}
.signup-form input[type="checkbox"]{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #2e4c6d;
    border-radius: 50%;
    vertical-align: bottom;
}
.signup-form input[type="checkbox"]:hover{
    background:  #fc997c;
}
.signup-form input[type="checkbox"]:checked{
    background: #fc997c;
}
.signup-form button[type="submit"] a{
    text-decoration: none;
    color: #fff;
}
