@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    background-color: white;
    color: #e68a00;
    line-height: 2;
}
ul{
    list-style: none;
}
a{
    color: #e68a00;
    text-decoration: none;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid rgba(179, 89, 0, 0.3) ;
    top: 0;
    padding: 3rem;
    position: relative;

}
.navbar a {
    padding: 1rem 2rem;
}
.links-btn:hover{
    border-bottom: 2px solid #b35900;

}
.logo {
        display: flex;
        margin-top: 1rem;
    text-align: center;
    padding: 2rem;
    font-size: 2.4rem;
    border-radius: 50%;
    background-color:#e68a00 ;
    color: white;
}
.logo i {
    font-size: 3rem;
    margin: 1rem;
}
.main-nav ul {
    display: flex;
    font-size: 2rem;;
    padding: 0 5rem;
}
.bg {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bg-img1 {
    height: 80vh;
    background-image: url("../img/bg1.jpeg");
  }
  .caption {
    position: absolute;
    text-align: center;
  }
  .box {
      padding: 3rem;
      background-color: #804000;
      color: #fff;
  }
  .caption .border {
    background-color:  #331a00;
    color: white;
    padding: 2rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
  }
  .bg-img2 {
    height: 70vh;
    background-image: url("../img/bg2.jpeg");
  }
  .articles {
    padding: 1rem 0;
}
.article{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 11px;
}
.article h2 {
    color: #e68a00;
}

.contact {
    background-color: #331a00;
    margin-top: -10px;
    width: 100%;
    height: 100%;
    padding: 10rem;
}
.contact h1,p {
    width: 100%;
}
.contact-form {
    width: 100%;
    padding: 2rem 0 ;
}
.contact-form input {
width: 100%;
border: none;
padding: 1.2rem;
border-radius: 1.5rem;
    
}
.contact-form button {
    background-color: #e68a00;
    width: 100%;
    color: #fff;
    border: none;
    padding: 1.2rem;
    margin-top: 1rem;
    border-radius: 1.5rem;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    text-align: center;
}
.footer a {
    color:#b35900;
}
.footer a:hover {
    opacity: 0.7;
}
.footer .social a{
    margin-right: 10px;
}
.footer p {
    margin-top: 2rem;
}

@media (max-width: 768px){
    html {
        font-size: 9px;
    }
    .navbar{
        flex-direction: column;
    }
    .navbar ul {
    display: block;
    }
    .navbar li {
    margin-top: 1.2rem;
    }
    .logo {
        display: flex;
        margin-top: 1rem;
    }
}

@media (max-width: 1180px){

    .navbar ul {
        display: block;
    }
    
    .logo {
        display: flex;
        margin-top: 1rem;
    }
}
