:root{
    --coffee : #b35900;
    --coffee-2 : #804000;
    --coffee-3 : #331a00;
    --white : #fff;
    --yellow : #e68a00;
    --green : #264d00;
    --orange: #ff6633;
    --about : #7a7a52;
}

/* text-color */
.text-coffee { color : var(--coffee);}
.text-coffee-2 { color : var(--coffee-2);}
.text-coffee-3 { color : var(--coffee-3);}
.text-white { color : var(--white);}
.text-yellow { color : var(--yellow);}
.text-green { color : var(--green);}
.text-orange { color : var(--orange);}
.text-about { color : var(--about);}

/* bg-colors */
.bg-coffee { background-color : var(--coffee); color: var(--white);}
.bg-coffee-2 { background-color : var(--coffee-2);color: var(--white);}
.bg-coffee-3 { background-color : var(--coffee-3);color: var(--white);}
.bg-white { background-color : var(--white);color: var(--coffee);}
.bg-yellow { background-color : var(--yellow);color: var(--white);}
.bg-green { background-color : var(--green);color: var(--white);}
.bg-orange { background-color : var(--orange);color: var(--white);}
.bg-about { background-color : var(--about);color: var(--white);}

/* buton */

.btn {
    cursor: pointer;
    display: inline-block;
    border:none;
    border-radius: 5px;
    padding: 1rem 3rem;
    margin-top: 1rem;

}
.btn:hover {
    opacity: 0.9;
}

.btn-green { color: var(--white); background-color: var(--green);}
.btn-green:hover {color: var(--white); background-color: var(--coffee);}


.flex-columns.flex-reverse .row{
    flex-direction: row-reverse;
}

.flex-columns .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.flex-columns .column {
    flex: 1;
}
.flex-columns.article .column:nth-child(odd){
    flex: 2;
}
.flex-columns.article .column:nth-child(even){
    flex: 3;
}
.flex-columns .column .column-1, .column-2 {
    height: 100%;
}
.flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem;
}
.flex-columns img {
    width: 100%;
    height: 100%;
}
@media (max-width: 768px){

    .flex-columns .column{
        flex: 100% !important;
    }
}